[Desktop Entry]
Name=hexceed
Comment=Play this game on Steam
Exec=steam steam://rungameid/1463920
Icon=steam_icon_1463920
Terminal=false
Type=Application
Categories=Game;
