[Desktop Entry]
Name=The Binding of Isaac: Rebirth
Comment=Play this game on Steam
Exec=steam steam://rungameid/250900
Icon=steam_icon_250900
Terminal=false
Type=Application
Categories=Game;
