[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Uninstall DocNav
Comment=Uninstall DocNav
Icon=/home/alba4k/Vivado/.xinstall/DocNav/data/images/xlnx_logo-256x256.png
Exec=/home/alba4k/Vivado/.xinstall/DocNav/xsetup -Uninstall
