[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vivado HLS 2019.2
Comment=Vivado HLS 2019.2
Icon=/home/alba4k/Vivado/Vivado/2019.2/common/icons/CS1056_Vivado_HSL_Icon_64x64.png
Exec=/home/alba4k/Vivado/Vivado/2019.2/bin/vivado_hls 
