[Desktop Entry]
Type=Application
Name=Waydroid
Exec=waydroid show-full-ui
Categories=X-WayDroid-App;Utility;
X-Purism-FormFactor=Workstation;Mobile;
Icon=waydroid
NoDisplay=true
