[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xilinx Information Center
Comment=Xilinx Information Center
Icon=/home/alba4k/Vivado/xic/data/images/xlnx_logo.png
Exec=/home/alba4k/Vivado/xic/xic 
