[Desktop Entry]
Name=Latest (Fabric)
Comment=Launch Minecraft (satest version)
Exec=prismlauncher -l "Latest_Fabric"
Icon=/home/alba4k/.local/share/PrismLauncher/instances/Latest_Fabric/icon.png
Terminal=false
Type=Application
Keywords=game;minecraft;
Categories=Game;
