configuration{
    modi: "run,drun,window";
    fixed-num-lines: false;
    font: "MesloLGS Nerd Font 14";
    show-icons: true;
    icon-theme: "Oranchelo";
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
	yoffset: -220;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  window";
    sidebar-mode: true;
}

@theme "catppuccin"
