[Desktop Entry]
Name=Half-Life
Comment=Play this game on Steam
Exec=steam steam://rungameid/70
Icon=steam_icon_70
Terminal=false
Type=Application
Categories=Game;
