# Shikane - alba4k
#
# Documentation: https://github.com/hw0lff/shikane

[[profile]]
name = "casa"
exec = ["hyprctl reload"]

    [[profile.output]]
    enable = true
    search = ["n/DP-[5-6]", "m=SMBX2450"]
    mode = "!1920x1080@72Hz"
    position = "0,0"

    [[profile.output]]
    enable = true
    search = ["n/DP-[7-9]", "m=SMBX2450"]
    mode = "!1920x1080@72Hz"
    position = "1920,0"

    [[profile.output]]
    enable = false
    search = "n=eDP-1"


[[profile]]
name = "zurigo"
exec = ["hyprctl reload"]

    [[profile.output]]
    enable = true
    search = ["n/DP-[1-3]", "m=DELL P3425WE"]
    mode = "3440x1440@100Hz"
    position = "1920,0"

    [[profile.output]]
    enable = false
    search = "n=eDP-1"


[[profile]]
name = "laptop"
exec = ["hyprctl reload"]

    [[profile.output]]
    enable = true
    search = "n=eDP-1"
    mode = "preferred"
    position = "0,0"


[[profile]]
name = "TV"
exec = ["hyprctl reload"]

    [[profile.output]]
    enable = true
    search = "n=eDP-1"
    mode = "preferred"
    position = "0,0"

    [[profile.output]]
    enable = true
    search = "n/DP-[1-3]"
    mode = "1920x1080@120Hz"
    position = "1920,0"
    scale = 1
