[Desktop Entry]
Type=Application
Name=hl2
MimeType=application/x-wine-extension-bsp;
Exec=env WINEPREFIX="/home/alba4k/.wine" wine start /ProgIDOpen Valve.Source %f
NoDisplay=true
StartupNotify=true
Icon=11E9_hl2.0
