/* WLOGOUT - alba4k
 *
 * Documentation: https://github.com/ArtsyMacaw/wlogout
 */

* {
	background-image: none;
	color: rgba(212, 191, 249, 1);
}
window {
	background-color: rgba(30, 30, 46, 0.01);
}
button {
	background-color: rgba(30, 30, 46, 0.7);
	border-style: solid;
	border-color: #8957B0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	font-size: 24px;
}

button:focus, button:active, button:hover {
	background-color: rgba(62, 51, 78, 0.8);
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
	border-radius: 36px 0px 0px 0px;
	border-width: 8px 4px 4px 8px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	border-radius: 0px 0px 0px 0px;
	border-width: 8px 4px 4px 4px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
	border-radius: 0px 36px 0px 0px;
	border-width: 8px 8px 4px 4px;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
	border-radius: 0px 0px 0px 36px;
	border-width: 4px 4px 8px 8px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	border-radius: 0px 0px 0px 0px;
	border-width: 4px 4px 8px 4px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	border-radius: 0px 0px 36px 0px;
	border-width: 4px 8px 8px 4px;
}
